name: CI
on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * *'

env:
  RUST_BACKTRACE: full

jobs:
  basic_checks:
    name: Basic checks (cargo ${{ matrix.cmd }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cmd:
          - fmt
          - doc

        include:
          - cmd: fmt
            args: --all -- --check

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt
      - name: cargo ${{ matrix.cmd }}
        uses: actions-rs/cargo@v1
        with:
          command: ${{ matrix.cmd }}
          args: ${{ matrix.args }}

  test:
    name: Test ${{ matrix.rust }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        rust:
          - stable
          - beta
          - nightly

        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: "-- --nocapture"

  build:
    name: Build on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

        include:
          - os: ubuntu-latest
            arch: linux_amd64
          - os: windows-latest
            arch: windows_amd64
            extension: .exe
          - os: macOS-latest
            arch: darwin_amd64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: "--release"

      - name: Upload binaries
        uses: actions/upload-artifact@v1
        with:
          name: test_${{ matrix.arch }}${{ matrix.extension}}
          path: "target/release/test${{ matrix.extension }}"

  create_release:
    name: Create a release
    runs-on: ubuntu-latest
    needs: ["basic_checks", "test", "build"]
    if: |
      (github.event_name == 'push' || github.event_name == 'schedule')
      && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/master')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set release context (semver)
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          cat <<EOF
          ::set-env name=GITHUB_RELEASE_TAG::${GITHUB_REF#refs/tags/}
          ::set-env name=GITHUB_RELEASE_DRAFT::false
          ::set-env name=GITHUB_RELEASE_PRERELEASE::false
          EOF
      - name: Set release context (latest)
        if: github.ref == 'refs/heads/master'
        run: |
          cat <<EOF
          ::set-env name=GITHUB_RELEASE_TAG::latest
          ::set-env name=GITHUB_RELEASE_DRAFT::false
          ::set-env name=GITHUB_RELEASE_PRERELEASE::true
          EOF
      - name: Bump tag (latest)
        if: github.ref == 'refs/heads/master'
        run: |
            git tag latest master
            git push -f origin latest
      - name: Delete previous release
        # See: https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#example-calling-the-rest-api
        run: |
          set -e

          # Ensure that jq exists
          jq --version

          # Get the URL of the previous release, if any.
          RELEASE_URL=$(
              curl -H "Authorization: bearer ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/releases/tags/${{ env.GITHUB_RELEASE_TAG }} \
              | jq -r ".url"
          )

          # Delete the previous release, if it exists.
          [[ ${RELEASE_URL} ]] && curl -X DELETE \
              -H "Authorization: bearer ${{ secrets.GITHUB_TOKEN }}" \
              ${RELEASE_URL}
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.GITHUB_RELEASE_TAG }}
          release_name: Release `${{ env.GITHUB_RELEASE_TAG }}`
          body: |
            # Changes

            The changes for this release can be found in the [changelog].

            [changelog]: https://github.com/${{ github.repository }}/blob/${{ env.GITHUB_RELEASE_TAG }}/CHANGELOG.md
          draft: ${{ env.GITHUB_RELEASE_DRAFT }}
          prerelease: ${{ env.GITHUB_RELEASE_PRERELEASE }}
      - name: Store release context
        run: |
            cat <<EOF > release_context
            ::set-output name=ref::${{ env.GITHUB_RELEASE_TAG }}
            ::set-output name=upload_url::${{ steps.create_release.outputs.upload_url }}
            EOF
      - name: Upload release context
        uses: actions/upload-artifact@v1
        with:
          name: release_context
          path: release_context

  upload_assets:
    name: Upload release assets (${{ matrix.arch }})
    needs: create_release
    if: |
      (github.event_name == 'push' || github.event_name == 'schedule')
      && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/master')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - linux_amd64
          - windows_amd64
          - darwin_amd64

        include:
          - arch: windows_amd64
            extension: .exe

    steps:
      - name: Download release context
        uses: actions/download-artifact@v1
        with:
          name: release_context
          path: ctx
      - name: Restore release context
        id: release_ctx
        run: cat ctx/release_context
      - name: Download binary
        uses: actions/download-artifact@v1
        with:
          name: test_${{ matrix.arch }}${{ matrix.extension}}
          path: assets_${{ matrix.arch }}
      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_ctx.outputs.upload_url }}
          asset_path: assets_${{ matrix.arch }}/test${{ matrix.extension }}
          asset_name: test_${{ steps.release_ctx.outputs.ref }}_${{ matrix.arch }}${{ matrix.extension}}
          asset_content_type: application/octet-stream
